body{
    background-color:rgb(238, 207, 207);
    min-height: 75vh;
    padding: 45px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}
form{
    max-width: 480px;
    border: solid 1px coral;
    border-radius: 8px;
    box-shadow: 1px 4px 3px gray;
   
    padding: 20px 25px;
    background-color: white;
    width: 100%;
 

}
input,select {
border: solid 1px orangered;
border-radius: 8px;
padding: 4px 5px ;
color: darkcyan;
width: 100%;
box-sizing: border-box;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px ;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px ;
}
.group{
    display: flex;
    flex-direction: column;

}
fieldset{
    margin-top: 10px;
    border: solid 1px;
    border-color: salmon;
    
}
legend{
    color: deeppink;
    font-size: 16px;
    margin-top: 10px;
}
label{
    margin-top: 1px;
    color:maroon;
    font-size: 14px;
    margin-bottom: 1px;
}
h2,h3{
    text-align: center;
    color: deeppink    ;
}
button{
    width: 95%;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
    margin-top: 10px;
    padding: 7px 9px 8px;
    background-color: lightsalmon;
    border: solid 1px orangered;
    border-radius: 8px;
    font-weight: bold;
}
button:hover{
    background-color: salmon;
}
i{
    font-size: 11px;
    color: black;
}
#response{
    font-size: 14px;
    text-align: center;
    font-style: italic;
    background-color: rgb(126, 221, 126);
    color:rgb(9, 92, 59);
    transition: color 0.3s ease;
   

}
footer{
    text-align: center;
   font-size: 11px;
   font-style: italic;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: gray;
}

